<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h2>{{category.name}}</h2>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </header>
      <hr>

      <div class="section-tree">
        {{#each sections}}
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{{url}}">{{name}}</a>
            </h3>
            {{#if articles}}
              <ul class="article-list">
                {{#each articles}}
                  <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                    <a href="{{url}}" class="article-list-link">
                      {{#if promoted}}
                        <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                      {{/if}}
                      <strong>{{title}}{{dc 'arrow_right'}}</strong>
                      {{#if internal}}
                        <span class="icon-lock" title="{{t 'internal'}}"></span>
                      {{/if}}
                      <p><em>{{excerpt body characters=100}}</em></p>
                    </a>
                  </li>
                {{/each}}
              </ul>
            	<a href="{{url}}" class="see-all-articles">
                {{t 'show_all_articles' count=article_count}}{{dc 'arrow_right'}}
              </a>
              {{#isnt more_articles}}
            		<i class="section-empty">
                  <a href="{{url}}">{{t 'empty'}}</a>
                </i>
              {{/isnt}}
            {{/if}}
          </section>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </div>
    
    <section class="article-sidebar">
      <p>{{dc 'jump_to_section'}}<br><strong>{{category.name}}</strong></p>
      <hr>
      <ul>
        {{#each sections}}
        	<li><a href="{{url}}">{{name}}</a></li>
        {{else}}
          <li><i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i></li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>
