<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="section-container">
    <section class="section-content">
      <header class="page-header">
        <h1>
          {{section.name}}
        </h1>
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>


      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link"><strong>{{title}}</strong>
                {{#if internal}}
                  <span class="icon-lock" title="{{t 'internal'}}"></span>
                {{/if}}
                <p><em>{{excerpt body characters=100}}</em></p>
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}
    </section>
    
    <section class="article-sidebar">
      {{#if settings.show_follow_section}}
        {{subscribe}}
      {{/if}}
      <p id="categoryTitle">{{dc 'jump_to_section'}}<br><strong></strong></p>
      <hr>
      <ul id="sectionsList"></ul>
    </section>
  </div>
</div>

<script>
  (function() {
  	var cat = $('.breadcrumbs li:nth-child(2) a'),
  			title = cat.text(),
 				id = cat.attr('href').match(/[0-9]+/);
  	
  	$.getJSON('/api/v2/help_center/en-us/categories/' + id + '/sections.json', function(data){
 			var output = "";

 			$.each(data.sections, function(i, item){
  			output += '<li>';
  			output += '<a href="' + item.html_url + '">' + item.name + '</a>';
  			output += '</li>';
			});

 			$('#categoryTitle strong').html(title);
  		$('#sectionsList').append('<ul>' + output + '</ul>');
 		});
  }());
</script>
